/**variables mixins y funciones**/
/**codigo**/
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif; }

.header-index {
  background-color: black;
  display: flex;
  justify-content: center;
  height: 130px;
  align-items: center;
  gap: .9375rem; }
  .header-index div img {
    width: 4.375rem; }

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5625rem; }
  .nav-links li a {
    text-decoration: none;
    letter-spacing: 7px;
    color: white; }
    .nav-links li a:hover {
      color: #f07cbf; }

.nav-links li:hover {
  transform: scale(1.2, 1.4);
  transition: 0.5s; }

.section-uno, .seccion-formulariosdos {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 100px; }
  .section-uno div h1, .seccion-formulariosdos div h1 {
    font-size: 150px;
    color: black; }
  .section-uno div button, .seccion-formulariosdos div button {
    padding: 1.25rem;
    border-radius: 1.875rem;
    width: 12.5rem;
    background-color: #9c52c7; }
  .section-uno div button:hover, .seccion-formulariosdos div button:hover {
    transform: scale(1.2, 1.4);
    transition: 0.5s; }
  .section-uno .pindex, .seccion-formulariosdos .pindex {
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 10px;
    padding-bottom: .625rem;
    color: black;
    font-size: 1.875rem; }

.galeria-grids {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-content: center;
  grid-template-areas: "div1 div2 div3 div4";
  padding-bottom: 6.25rem; }
  .galeria-grids .div1:hover {
    transform: scale(1.2, 1.4);
    transition: 1s; }
  .galeria-grids .div2:hover {
    transform: scale(1.2, 1.4);
    transition: 1s; }
  .galeria-grids .div3:hover {
    transform: scale(1.2, 1.4);
    transition: 1s; }
  .galeria-grids .div4:hover {
    transform: scale(1.2, 1.4);
    transition: 1s; }

.footer-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.h3form {
  color: black; }

footer {
  background-image: radial-gradient(circle, #642656, #532449, #43213c, #341e30, #251a23);
  object-fit: contain; }

.p-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }

.main-productos {
  background: url(https://images.unsplash.com/photo-1533620495600-1af835e537f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzB8fHZpZHJpb3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60) no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 37.5rem; }

.section-login {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px; }
  .section-login .login {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(250, 251, 250, 0.922);
    color: #ffffff;
    border-radius: 10px;
    padding: 30px 40px; }
    .section-login .login h1 {
      font-size: 30px;
      text-align: center; }
    .section-login .login .input-box {
      position: relative;
      width: 100%;
      height: 50px;
      margin: 30px 0; }
    .section-login .login .input-box input {
      width: 100%;
      height: 100%;
      background: transparent;
      border: none;
      outline: none;
      border: 2px solid #e1e1ff33;
      border-radius: 40px;
      font-size: 16px;
      color: #ffffff;
      padding: 20px 45px 20px 20px; }
    .section-login .login .input-box input::placeholder {
      color: #ffffff; }
    .section-login .login .input-box i {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px; }
    .section-login .login .remember-forgot {
      display: flex;
      justify-content: space-between;
      font-size: 14.5px;
      margin: -15px 0px 15px; }
    .section-login .login .btn-login {
      width: 100%;
      height: 50px;
      background: #ffffff;
      border: none;
      outline: none;
      border-radius: 40px;
      box-shadow: 0 0 10px #0000001a;
      cursor: pointer;
      font-size: 16px;
      color: #333;
      font-weight: 600; }
    .section-login .login .register-link {
      font-size: 14.5px;
      text-align: center;
      margin: 20px 0 15px; }
    .section-login .login .register-link a {
      color: #ffffff; }
    .section-login .login .register-link {
      color: #ffffff; }

.register-link p a:hover {
  text-decoration: underline; }

.remember-forgot label input {
  accent-color: #ffffff;
  margin-right: 3px; }

.remember-forgot a {
  color: #ffffff;
  text-decoration: none; }

.remember-forgot a:hover {
  text-decoration: underline; }

.talles {
  display: flex;
  justify-content: center;
  gap: 100px;
  list-style: none; }
  .talles li .btn-talles {
    border-radius: 1.875rem;
    width: 6.25rem;
    background-color: #9c52c7;
    height: 3.125rem; }

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  padding-bottom: 100px;
  padding-top: 100px; }
  .card-container .card {
    width: 10.625rem;
    height: 300px;
    border: .0625rem solid grey;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    text-align: center; }
  .card-container .card:hover {
    transform: scale(1.2, 1.4); }
  .card-container .card-img img {
    width: 100%;
    height: 200px;
    object-fit: contain; }
  .card-container .card-img img {
    width: 100%;
    height: 200px;
    overflow: hidden; }

.card-containerdos {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  padding-bottom: 100px;
  padding-top: none; }
  .card-containerdos .card2 {
    width: 10.625rem;
    height: 300px;
    border: .0625rem solid grey;
    background-color: white;
    box-shadow: 2px 2px 5px black;
    border-radius: 10px;
    text-align: center; }
  .card-containerdos .card2:hover {
    transform: scale(1.2, 1.4); }
  .card-containerdos .card-img2 img {
    width: 100%;
    height: 200px;
    object-fit: contain; }
  .card-containerdos .card-img2 img {
    width: 100%;
    height: 200px;
    overflow: hidden; }

.div-tituloproducto {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 10px; }
  .div-tituloproducto .titulo-producto {
    font-size: 50px;
    color: black; }

.seccion-formularios {
  display: flex;
  padding-top: 100px; }

.seccion-formulariosdos {
  padding-bottom: 200px; }

p {
  font-size: 40px;
  color: black; }

.btn-warning {
  background-color: #9c52c7; }

/**mediaqueris siempre en orden**/
@media (max-width: 2560px) {
  .main-productos {
    height: 1000px; } }

@media (max-width: 1200px) {
  .section-uno .h1index, .seccion-formulariosdos .h1index {
    font-size: 50px; }
  .galeria-grids {
    margin-left: 2.5rem;
    gap: 1.875rem;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto;
    grid-template-areas: "div1 div2" "div3 div4"; } }

@media (max-width: 1054px) {
  .galeria-grids {
    grid-template-columns: repeat(1, 50%);
    grid-template-rows: auto;
    grid-template-areas: "div1" "div2" "div3" "div4"; }
  .nav-links {
    flex-direction: column;
    gap: 5px; } }

@media (max-width: 740px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto auto auto;
    grid-template-areas: "card1 card2" "card3 card4";
    align-items: center;
    margin-left: 9.375rem;
    margin-right: 100px;
    gap: 1.875rem; }
  .talles {
    gap: 10px; }
  .card-containerdos {
    display: none; } }

@media (max-width: 669px) {
  .galeria-grids {
    grid-template-columns: repeat(1, 50%);
    grid-template-rows: auto;
    padding-right: 100px;
    grid-template-areas: "div1" "div2" "div3" "div4"; }
  .nav-links {
    flex-direction: column;
    gap: 5px; } }

@media (max-width: 614px) {
  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: auto auto auto;
    grid-template-areas: "card1" "card2" "card3" "card4";
    align-items: center;
    margin-left: 12.5rem;
    margin-right: 50px;
    gap: 1.875rem; }
  .main-productos {
    height: 104.375rem; } }

@media (max-width: 470px) {
  .galeria-grids {
    display: none; }
  main {
    background-color: #c62fc690;
    padding-bottom: 200px; }
  .talles {
    flex-direction: column;
    align-items: center; }
  .card-container {
    margin-left: 9.375rem; } }

@media (max-width: 360px) {
  .card-container {
    margin-left: 100px; } }
