@mixin grid($col,$row,$justify,$aling,$area,$padding){
    display: grid;
    grid-template-columns: $col ;
    grid-template-rows: $row;
    justify-content: $justify;
    align-content: $aling;
    grid-template-areas: $area;
    padding-bottom: $padding;
}
@mixin flex($direction,$justify,$aling,$paddingb,$paddingt){
    display: flex;
    flex-direction:$direction ;
    justify-content:$justify ;
    align-content:$aling ;
    padding-bottom:$paddingb ;
    padding-top:$paddingt ;
}