.footer-index{
display: flex;
justify-content: center;
}
.h3form{
    color: $colores-tipografias;
}

footer{
    background-image: linear-gradient(to right, #642656, #85424d, #936653, #998a6e, #a4aa98);
    padding-top: 200px;
    
}