.footer-index{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.h3form{
    color: $colores-tipografias;
}

footer{
    background-image: radial-gradient(circle, #642656, #532449, #43213c, #341e30, #251a23);
    height: 20vh;
    object-fit: contain;
    
}

.p-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}