.header-index {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 130px;
    align-items: center;
    
    div{
        img{
            width: 4.375rem;
        }
    }
}
.nav-links{
    display: flex;
    list-style: none;
    gap: 1.5625rem;
    li{
        a{
            text-decoration: none;
            letter-spacing: 7px;
            color: white;
            &:hover{
                color: rgb(240, 124, 191);
            }
        }
    }
}
.nav-links{
    li:hover{
        transform: scale(1.2,1.4);
        transition: 0.5s;
    }
}
.cuatro{
    background-color: black;
    background-size: cover;
    background-position: center;
    background-size: cover;
    width: 100%;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        gap:100px;
        padding-top: 100px;
    }
    div h1{
        font-size: 100px;
        color: white;
    }
    div p{
        font-size: 60px;
        color: white;
    }
    .btncuatro{
        height: 50px;
        width: 250px;
        background: rgb(75, 36, 75);
        border-radius: 20px;
    }
    .btncuatro a{
        text-decoration: none;
        color: antiquewhite;
        letter-spacing: 4px;
        
    }
}