.section-uno{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 100px;

    div{ 
        h1{
            font-size: 150px;
            color: $colores-tipografias;
            
        }
        button{
            padding: 1.25rem;
            border-radius: 1.875rem;
            width: 12.5rem;
            background-color:$colores-botones;
        }
        button:hover{
            transform: scale(1.2,1.4);
            transition: 0.5s;
        }
        }
        .pindex{
                font-family: 'Oxygen', sans-serif;
                letter-spacing: 10px;
                padding-bottom: .625rem;
                color:$colores-tipografias;
                font-size: 1.875rem;
        }
    }


.galeria-grids{
@include grid(repeat(4,25%),auto auto auto,center,center,"div1 div2 div3 div4",6.25rem);
.div1:hover{
    transform: scale(1.2,1.4);
    transition: 1s;
}
.div2:hover{
    transform: scale(1.2,1.4);
    transition: 1s;
}
.div3:hover{
    transform: scale(1.2,1.4);
    transition: 1s;
}
.div4:hover{
    transform: scale(1.2,1.4);
    transition: 1s;
}
}
