@media(max-width:288px){
    .grids-productos{
        display: none;
    }
    .nav-links {
        flex-direction: column;
        gap: 0px;

    }
    .section-uno .h1index{
        font-size: 15px;
    }
    .section-uno .pindex{
        font-size: 10px;
    }
}