@media(max-width:740px){
.card-container{
    display: grid;
    grid-template-columns: repeat(2,50%);
    grid-template-rows: auto auto auto;
    grid-template-areas: "card1 card2"
                        "card3 card4";
    align-items: center;
    justify-items: center;
    margin-left: 120px;
    margin-right: 100px;
    gap: 1.875rem;
}   
.talles{
    gap: 10px;
}
.card-containerdos{
    display: none;
}
.nav-links {
    flex-direction: column;
    gap: 0px;

}
} 


