@media(max-width:1054px){
    .galeria-grids {
        grid-template-columns: repeat(1, 50%);
        grid-template-rows: auto ;
        grid-template-areas:
            "div1"
            "div2"
            "div3"
            "div4";
    }  
    .nav-links {
        flex-direction: column;
        gap: 5px;

    }
.card-container .grid-productos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}
.card-containerdos .grid-productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}