@media(max-width:470px){
    .galeria-grids {
    display: none;
    }
    main{
        background-color: #c62fc690;
        padding-bottom: 200px;
        
    }
    .talles{
        flex-direction: column;
        align-items: center;
    }
    .card-container{
        margin-left: none;
        display:flex ;
        flex-direction: column;
    }
    .nav-links {
        flex-direction: column;
        gap: 0px;
    }
}